In [95]:
import pandas as pd 
import numpy as np

# Data set
The dataset used in this notebook is an open-source database including information on terrorist attacks around the world from 1970 through 2017. This dataset includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period.

In [89]:
df=pd.read_csv("terrorismData.csv")

In [90]:
df.head()

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
0,1970,7,2,Dominican Republic,NaN,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown
1,1970,0,0,Mexico,Federal,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),0.0,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown
2,1970,1,0,Philippines,Tarlac,Southeast Asia,Unknown,15.478598,120.599741,Assassination,1.0,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown
3,1970,1,0,Greece,Attica,Western Europe,Athens,37.997490,23.762728,Bombing/Explosion,NaN,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives
4,1970,1,0,Japan,Fukouka,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,NaN,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 17 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Year         181691 non-null  int64
 1   Month        181691 non-null  int64
 2   Day          181691 non-null  int64
 3   Country      181691 non-null  object
 4   State        181270 non-null  object
 5   Region       181691 non-null  object
 6   City         181257 non-null  object
 7   Latitude     177135 non-null  float64
 8   Longitude    177134 non-null  float64
 9   AttackType   181691 non-null  object
 10  Killed       171378 non-null  float64
 11  Wounded      165380 non-null  float64
 12  Target       181055 non-null  object
 13  Summary      115562 non-null  object
 14  Group        181691 non-null  object
 15  Target_type  181691 non-null  object
 16  Weapon_type  181691 non-null  object
dtypes: float64(4), int64(3), object(10)
memory usage: 23.6+ MB

In [6]:
df.describe()

,Year,Month,Day,Latitude,Longitude,Killed,Wounded
count,181691.000000,181691.000000,181691.000000,177135.000000,1.771340e+05,171378.000000,165380.000000
mean,2002.638997,6.467277,15.505644,23.498343,-4.586957e+02,2.403272,3.167668
std,13.259430,3.388303,8.814045,18.569242,2.047790e+05,11.545741,35.949392
min,1970.000000,0.000000,0.000000,-53.154613,-8.618590e+07,0.000000,0.000000
25%,1991.000000,4.000000,8.000000,11.510046,4.545640e+00,0.000000,0.000000
50%,2009.000000,6.000000,15.000000,31.467463,4.324651e+01,0.000000,0.000000
75%,2014.000000,9.000000,23.000000,34.685087,6.871033e+01,2.000000,2.000000
max,2017.000000,12.000000,31.000000,74.633553,1.793667e+02,1570.000000,8191.000000

In [7]:
df.tail()

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
181686,2017,12,31,Somalia,Middle Shebelle,Sub-Saharan Africa,Ceelka Geelow,2.359673,45.385034,Armed Assault,1.0,2.0,Checkpoint,12/31/2017: Assailants opened fire on a Somali...,Al-Shabaab,Military,Firearms
181687,2017,12,31,Syria,Lattakia,Middle East & North Africa,Jableh,35.407278,35.942679,Bombing/Explosion,2.0,7.0,Hmeymim Air Base,12/31/2017: Assailants launched mortars at the...,Muslim extremists,Military,Explosives
181688,2017,12,31,Philippines,Maguindanao,Southeast Asia,Kubentog,6.900742,124.437908,Facility/Infrastructure Attack,0.0,0.0,Houses,12/31/2017: Assailants set fire to houses in K...,Bangsamoro Islamic Freedom Movement (BIFM),Private Citizens & Property,Incendiary
181689,2017,12,31,India,Manipur,South Asia,Imphal,24.798346,93.940430,Bombing/Explosion,0.0,0.0,Office,12/31/2017: Assailants threw a grenade at a Fo...,Unknown,Government (General),Explosives
181690,2017,12,31,Philippines,Maguindanao,Southeast Asia,Cotabato City,7.209594,124.241966,Bombing/Explosion,0.0,0.0,Unknown,12/31/2017: An explosive device was discovered...,Unknown,Unknown,Explosives

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df.isnull().sum()

Year               0
Month              0
Day                0
Country            0
State            421
Region             0
City             434
Latitude        4556
Longitude       4557
AttackType         0
Killed         10313
Wounded        16311
Target           636
Summary        66129
Group              0
Target_type        0
Weapon_type        0
dtype: int64

In [10]:
df[['City']]

                 City
0       Santo Domingo
1         Mexico city
2             Unknown
3              Athens
4             Fukouka
...               ...
181686  Ceelka Geelow
181687         Jableh
181688       Kubentog
181689         Imphal
181690  Cotabato City

[181691 rows x 1 columns]

In [11]:
df.loc[2,'State']

'Tarlac'

In [12]:
y=df[['State']]
y

                  State
0                   NaN
1               Federal
2                Tarlac
3                Attica
4               Fukouka
...                 ...
181686  Middle Shebelle
181687         Lattakia
181688      Maguindanao
181689          Manipur
181690      Maguindanao

[181691 rows x 1 columns]

In [13]:
print(df.shape)

(181691, 17)

# The Most Dangerous city in Jammu and Kashmir and the terrorist group which is most active in that city

Note:Ignoring the Unknown Terrorist Group. Here Dangerous related with the number of terrorist attacks. I will be printing the count of number of attacks in that city as integer value.

In [41]:
data=df[df['State']=='Jammu and Kashmir']['City']
data.value_counts().idxmax()

'Srinagar'

In [42]:
data.value_counts().max()

657

# Country with Highest Number of Terror Attack and the year in which the most number of terrorist attack happened in that country

I have printed the name of the country, count of terror attacks as integer value and the year in which most number of terriorist attacks happened in that country.

In [44]:
print("Country with most attack: ",df['Country'].value_counts().idxmax())

Country with most attack:  Iraq

In [47]:
print("Higest number of terrorist attack:,",df['Country'].value_counts().max())

Higest number of terrorist attack:, 24636

In [70]:
print("year Higest number of terrorist attack:",df['Year'].value_counts().idxmax())

year Higest number of terrorist attack: 2014

# Most Deadliest attack in a history of HumanKind (According to the given dataset)

I have printed count of Killed people as integer value, the country in which the attack happened, and the terriorist group which was involved in the attack. Here Deadliest attack means, in which the most number of people killed.

In [86]:
df=df[df.Killed==df.Killed.max()]
killed=df.Killed.iloc[0]
country=df.Country.iloc[0]
group=df.Group.iloc[0]
print(int(killed),(country),(group))

1570 Iraq Islamic State of Iraq and the Levant (ISIL)

# There was formation of new government in India on 26 May 2014. So current government's span is from 26th May 2014 to current. So, the two things I have found out from this period are:

Total number of attacks done in this period in India.
Terrorist group which was most active in this period in India. Most active means, group which has done maximum number of attacks.

In [85]:
a=df[df.Day>=26]
b=a[a.Year==2014]
c=b[b.Country=='India']
ans1=c[c.Month==5]
del a
del b
del c
a=df[df.Year==2014]
b=a[a.Country=='India']
ans2=b[b.Month>5]
del a
del b
a=df[df.Country=='India']
ans3=a[a.Year>2014]
count=ans1.shape[0]+ans2.shape[0]+ans3.shape[0]
print(count, end=' ')
ans1=ans1[ans1.Group!='Unknown']
ans2=ans2[ans2.Group!='Unknown']
ans3=ans3[ans3.Group!='Unknown']
print(ans3.Group.describe().top)

3336 Maoists

# Frequency of the Casualty in Red Corridor states and in Jammu and Kashmir. Here Frequency is (Total Casualty/Total Number of a year)
Red Corridor state includes Jharkhand, Odisha, Andhra Pradesh, and Chhattisgarh. Here Casualty=Killed +Wounded. I have separately managed the nan values present in the killed and wounded feature.

In [96]:
df_terrorism=df.copy()
year=len(set(df_terrorism['Year']))


df_terrorism=df_terrorism[df_terrorism['Country']=='India']

df_terrorism['Casualty']=df_terrorism['Killed']+df_terrorism['Wounded']

Jammu_state=df_terrorism[df_terrorism['State']=='Jammu and Kashmir']

red_state=df_terrorism[(df_terrorism['State']=='Jharkhand')|(df_terrorism['State']=='Odisha')
                       |(df_terrorism['State']=='Andhra Pradesh')|(df_terrorism['State']=='Chhattisgarh')]

red_casualty=int(np.sum(red_state['Casualty']))

Jammu_casualty=int(np.sum(Jammu_state['Casualty']))

print(red_casualty//year,Jammu_casualty//year)

129 292